# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml


#DB teste
routes/db_firebase.js
routes/db_firestore.js
routes/database.js
routes/key_app.json
