/**
  * Name: style
  * Version: 1.0
  * Author: hadamo egito

*/
body {
  /*padding: 50px;*/
  padding-top: 60px;
  /*padding-bottom: 40px;
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 10px;
}





.comparacao 
{
  border: 1px solid #ccc;
  margin-bottom: 10px;
  height: 500px;
  background-color: #DCE0D0;
}
.espaco-comp 
{ 
  margin-top:20px; 
}
.espaco-btn
{
  margin-left: 40px;
}
/*
.btn.btn-danger
{
    width: 100px;
}*/


/*Troca de senha*/
.pass_show{position: relative} 

.pass_show .ptxt { 

position: absolute; 

top: 50%; 

right: 10px; 

z-index: 1; 

color: #f36c01; 

margin-top: -10px; 

cursor: pointer; 

transition: .3s ease all; 

} 

.pass_show .ptxt:hover{color: #333333;} 

/* card das legendas*/
.card
{
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  width: 40%;
  height: 190px;
  margin-bottom: 40px;
}
 .panel-default >.panel-heading
{
  background-color: rgba(0,0,0,0.920);
  max-height: 40px;
}
 .panel-default >.panel-heading > h4
 {
  color: white;
  cursor: pointer;
  position: center;
 }
 
 /* **************** COISAS RELACIONADAS AO FOOTER ****************
Autor: Wellerson Prenholato
*/
.flat-footer .footer-content .copyright span {
  color: rgba(0, 0, 0, 0.5);
  margin: 2px 10px;
  display: inline-block;
}

.flat-footer .footer-content .copyright a {
  color: #333333;
}

.flat-footer .footer-content .copyright a:hover {
color: #7e8582c9;
}

/* Footer
-------------------------------------------------------------------*/
.flat-footer {
  text-align: center;
  background-image: url(/image/layout/bg-footer-qb-250.jpg); /* IMAGEM NO FOOTNOTE*/
  color: #222;
  padding: 198px 0 100px;
  /*background-size: cover;*/
  background-position: top center;
  /*background-repeat: repeat-x;*/
  background-color: #ebebeb;
  position: relative;
}

.flat-footer .overlay {
position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  opacity: 0.8;
}

.flat-footer .footer-widgets .widget {
  margin-bottom: 50px;
}

.flat-footer .footer-content .social-links {
  margin-bottom: 35px;
}

.flat-footer .footer-content .social-links a {
  color: rgba(0, 0, 0, 0.2);
  margin: 0 20px;
}

.flat-footer .footer-content .social-links a:hover {
  color: #333333;
}

.flat-footer .footer-content .social-links a i {
  font-size: 28px;
}

.flat-footer .footer-content .copyright span {
  color: rgba(0, 0, 0, 0.5);
  margin: 2px 10px;
  display: inline-block;
}

.flat-footer .footer-content .copyright a {
  color: #333333;
}

.flat-footer .footer-content .copyright a:hover {
color: #7e8582c9;
}

/*Gambiarra do komodo no footer*/
.copyright {
  padding-right: 60px;
}
/*#goTop Button
-------------------------------------------------------------- */
#go-top {
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -25px;
  width: 50px;
  cursor: pointer;   
  height: 50px;     
  text-align: center;     
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
   -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
       transition: all 0.1s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=100);
  opacity: 1;

}

#go-top.show {
right: 15px;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
  opacity: 1;
visibility: visible;
}

#go-top:hover:after ,
#go-top:hover:before {
 top: -5px;
}

#go-top:hover {
 bottom: 30px;
}

#go-top:after, 
#go-top:before {
 content: "";
 width: 1px;
 height: 100%;
 background: #000000;
 position: absolute;
 top: 0; 
  -webkit-transition: all 0.3s ease-in-out;
 -moz-transition: all 0.3s ease-in-out;
 -ms-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}

#go-top:before {  
right: 7px;       
 -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
         transform: rotate(-45deg);
}

#go-top:after {
left: 7px;     
 -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
         transform: rotate(45deg);
}
.img-komodo-footer{ /* Referente ao Drag. Komodo preto no footer*/
  background-image: url(/image/layout/komodo.png); /*Imagem do Drag. Komodo (pequeno) no rodapé */
  /*(Referente a imagem da pasta)*/
  width: 120px; /*Tamanho exato da imagem*/
  height: 58px; /*Tamanho exato da imagem*/
  vertical-align: 38px;  /*Alinhamento com o texto do desgraçado do Drag. Komodo  ou mudar para (middle)*/ 
}

/* botao ppcbutton*/
.btn.btn-danger.ppcbutton
{
  background-color: #272525;
  border-color: #272525;
}

/*Login*/

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}