<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem-Vindo ao <%= title %></p>
    <p>Statu: Em construção</p>
    <h2>Entendeu? Sim ou Não?</h2>
  </body>
</html>
