.starter-template{
    width: 1400px;
    margin-top: 80px;
    margin-left: -15%;
    justify-content: center;
}

.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.w {
    padding: 4px;
    position: absolute;
    z-index: 15;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;
    background-color: white;
    font-size: 11px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
    width: 100px;
    text-align: center;
    line-height: normal;
    word-wrap: break-word;
    margin: 8px;
}

.w:hover {
    background-color: #5c96bc;
    color: white;

}

.aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.aLabel.jtk-hover, .jtk-source-hover, .jtk-target-hover {
    background-color: #1e8151;
    color: white;
}

.aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
}

.ep {
    position: absolute;
    bottom: 37%;
    right: 5px;
    width: 1em;
    height: 1em;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.ep:hover {
    box-shadow: 0 0 6px black;
}

.statemachine-demo .jtk-endpoint {
    z-index: 10;    
}

#opened {
    left: 10em;
    top: 5em;
}

#phone1 {
    left: 10em;
    top: 12em;
    /*width: 7em;*/
}

#inperson {
    left: 10em;
    top: 23em;
}

#phone2 {
    left: 10em;
    top: 24em;
}

#rejected {
    left: 10em;
    top: 35em;
}

#calculo2{
    left: 50em;
    top: 5em;
}

#probEst{
    left: 50em;
    top: 12em;
}

#algebraLin{
    left: 50em;
    top: 23em;
}

.dragHover {
    border: 2px solid orange;
}

path, .jtk-endpoint { cursor:pointer; }