.starter-template{
    width: 1400px;
    margin-top: 80px;
    margin-left: -15%;
    justify-content: center;
}

.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.w {
    padding: 2px;
    position: absolute;
    z-index: 15;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /*opacity: 0.8;*/
    cursor: pointer;
    background-color: white;
    font-size: 11px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
    width: 100px;
    text-align: center;
    line-height: normal;
    word-wrap: break-word;
    margin: 8px;
}

.w:hover {
    background-color: #4993a3;
    color: white;

}

.aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.aLabel.jtk-hover, .jtk-source-hover, .jtk-target-hover {
    background-color: #006575;
    color: white;
    border-width: 2px;
    padding: 1px;
}

/*Add by Elyabe*/
.jtk-source-hover {
    background-color: #009eb6;
}

.selected {
    background-color: #fff;
    color: red;
    border-color: red ;
}

.aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
}

.ep {
    position: absolute;
    bottom: 37%;
    right: 5px;
    width: 1em;
    height: 1em;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.ep:hover {
    box-shadow: 0 0 6px black;
}

.statemachine-demo .jtk-endpoint {
    z-index: 10;    
}

.label-periodo {
    /*padding: 2px;*/
    position: absolute;
    z-index: 15;
    /*border: 1px solid #2e6f9a;*/
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.8;
    /*cursor: pointer;*/
    /*background-color: white;*/
    font-size: 14px;
    /*-webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;*/
    width: 100px;
    text-align: center;
    line-height: normal;
    word-wrap: break-word;
    margin: 8px;
}

.dragHover {
    border: 2px solid orange;
}

path, .jtk-endpoint { cursor:pointer; }


.ppc-partial-exploitation{
    background-color: #3CB371;
    color: #fff;
}

.ppc-partial-exploitation > .ppc-partial50 {
    background-color: #3CB371;
}

.ppc-total-exploitation {
    background-color: rgba(62,143,62);
    color: white;
}

.ppc-total-exploitation:hover {
    background-color: rgba(62,143,62,0.8);
    color: white;
    border-color: rgba(62,143,62) 
}

.ppc-optative {
    background-color: #81cb43;
    color: white;
}



