


<script src="/javascripts/jquery-1.6.2.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script> 
<!-- JS -->
    <script src="/javascripts/jsplumb.js"></script>
<!-- /JS -->

<!--  demo code -->
<script src="/javascripts/demo.js"></script> 


<script> 
$(document).ready(function(){
$('.pass_show').append('<span class="ptxt">Show</span>');  
});
  

$(document).on('click','.pass_show .ptxt', function(){ 

$(this).text($(this).text() == "Show" ? "Hide" : "Show"); 

$(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 

});  
</script>