<div class="alert alert-danger" role="alert">
	<strong>Acesso negado!</strong><br>
    <h4> Seu nível de permissão não é adequado! :( </h4> <br> 
    <h5>Seu Grant atual: <%= user.role %> </h5> 
</div>