<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" id="go-top" title="Back to top"></a>
                </div>
                
                <div class="col-md-12">
                    <div class="copyright">
                        <div class="copyright-content">© PPC Choice 2019<span>•</span> 
                            <a href="http://www.ceunes.ufes.br/">CEUNES</a>   
                            <span>•</span> 
                            <img src="/image/layout/komodo.png">
                            <span>  Komodo Corp. Tech  
                        </span></div><!-- /.copyright-content -->
                    </div><!-- /.copyright -->
                </div>
           
            </div>
               
            </div>   
    </footer>