<footer class="flat-footer">
    <div class="overlay"></div><!-- IMAGEM CINZA SOBRE A IMAGEM DO FOOTER -->
    <div class="footer-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- ESPAÇO ABAIXO DO BOTÃO TOP -->
                </div>
                <div class="col-md-12">
                    <div class="copyright">
                        <div class="copyright-content">© PPC Choice 2019<span>&bull;</span> 
                            <span class="img-komodo-footer">&nbsp;</span> 
                            <span>&bull;</span> 
                            <a href="http://www.ceunes.ufes.br/">CEUNES</a></span>   
                        </div><!-- /.copyright-content -->
                    </div><!-- /.copyright -->
                </div>
            </div> 
        </div>
    </div>

    <!-- Voltar pro topo -->
    <a href="#" id="go-top" title="Back to top"></a>
 </footer> 