  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: black;">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#">
        <img src="/image/layout/logo-light.png" class="logo logo-display" alt="">
        <!-- <img src="/image/layout/logo-dark.png" class="logo logo-scrolled" alt=""> -->
        <span class="badge" style="font-size: 8px;">Prototype</span>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          
          <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/db/subject/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Disciplina
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/db/home"><span class="fas fa-chalkboard-teacher"></span> Dashboard</a>
                      <a class="dropdown-item" href="/user/logout"><span class="fas fa-sign-out-alt"></span> Logout</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/user/settings/password"><span class="fas fa-unlock-alt"></span> Alterar Senha</a>
                    </div>
            </li>
            
            <% if (login) { %> 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fas fa-user"></span>  
                    <%=user.nickname%>
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/ws/home"><span class="fas fa-chalkboard-teacher"></span> Workspace</a>
                      <a class="dropdown-item" href="/user/logout"><span class="fas fa-sign-out-alt"></span> Logout</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/user/settings/password"><span class="fas fa-unlock-alt"></span> Alterar Senha</a>
                    </div>
            </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#"> <span class="fas fa-user"></span>  
                    <%=user.nickname%> </a>
                </li>
            <% } %>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
