
<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="nodeJS Template">
<meta name="author" content="  ">

<!-- favicon  -->
<link rel="apple-touch-icon" sizes="180x180" href="/image/layout/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/image/layout/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/image/layout/favicon/favicon-16x16.png">
<link rel="manifest" href="/image/layout/favicon/site.webmanifest">
<link rel="mask-icon" href="/image/layout/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- JSplumb -->
    <link rel="stylesheet" href="/stylesheet/jsplumb/jsplumbtoolkit-defaults.css">
    <link rel="stylesheet" href="/stylesheet/jsplumb/jsplumbtoolkit-demo.css">
    <link rel="stylesheet" href="/stylesheet/jsplumb/style-grid.css">


<!-- boot -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <!-- Bootstrap Core CSS -->
    <!-- <link href="/stylesheet/bootstrap.min.css" rel="stylesheet"> -->
    
    <!-- Icons -->
    <link href="/stylesheet/bootsnav/font-awesome.css" rel="stylesheet">
    
    <!-- Font Style -->
    <link href="/stylesheet/bootsnav/css" rel="stylesheet" type="text/css">
    
    <!-- Animate -->
    <link href="/stylesheet/bootsnav/animate.css" rel="stylesheet">
    
    <!-- Bootsnav -->
    <link href="/stylesheet/bootsnav/bootsnav.css" rel="stylesheet">
    
    <!-- Custom style -->
    <link href="/stylesheet/bootsnav/style-nav.css" rel="stylesheet">

<!-- styles -->
<!-- <link href="/stylesheet/bootstrap.min.css" rel="stylesheet"> -->
<link href="/stylesheet/style.css" rel="stylesheet">


   