<% layout('../../template/ws_layout') -%>

 <div class="pageheader fixed-demo dark">
	<h1> Deu xabu, cara pálida!</h1>
	<h2><%= message %></h2>
	<h2><%= error.status %></h2>
	<pre><%= error.stack %></pre>
</div>
