<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partial/head.ejs %>
</head>

<body>

<!-- Insert Body here -->
<main role="main" class="wraper">

      <div class="jumbotron mt-4" style="width: 400px; padding: 40px; margin-left: 35%; margin-top: 5%;"> 
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
          <% if ( error_msg != '') { %>
          <div class="alert alert-warning" role="alert">
             <%= error_msg %>
          </div>
          <% } %>
            <form class="form-signin" action="/login" method="POST">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="nick.name@ppc" required autofocus>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
</main><!-- /.container -->


<% include ../partial/includes.ejs %>
</body>
</html>