<% layout('../../template/ws-layout') -%>
        

    <div class="clearfix"></div>

    <!-- Start Home -->
    <div class="pageheader fixed-demo dark">
        <div class="container" >
            <div class="row">
              <h2 class="title">Agora funciona, seus bostas.</h2>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
