<% layout('/template/ws_layout') -%>
        

    <div class="clearfix"></div>

    <!-- Start Home -->
    <div class="pageheader fixed-demo dark">
        <div class="container" >
            
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="title">Choose your grid.</h2>
                    <p> Change if you want. </p>     
                </div>
                <div class="col-sm-5">
                    <img src="/image/wk/boneco.png" style="width: 400px;">
                </div>
              </div>
        </div>
    </div>
    <!-- End Home -->

    <!-- Start Content -->
   
    <!-- End Content -->

    <div class="clearfix"></div>
