<% layout('../../template/ws-layout') -%>
        

    <div class="clearfix"></div>
        <!-- <div class="container" > -->
          <!-- Carrousel start -->
            <div class="row">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="/image/ws/slide_1.jpg" alt="First slide">
                        <div class="carousel-caption">
                          <h1 class="display-6"> Vem aí  </h1>
                          Uma nova aplicação web está surgindo.
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="/image/ws/slide_2.jpg" alt="Second slide">
                        <div class="carousel-caption">
                          <h1 class="display-6"> Vem aí  </h1>
                          Uma nova aplicação web está surgindo.
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="/image/ws/slide_3.jpg" alt="Third slide">
                        <div class="carousel-caption">
                          <h1 class="display-6"> Vem aí  </h1>
                          Uma nova aplicação web está surgindo.
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Próximo</span>
                    </a>
                  </div>
              
        </div>
            <!-- End carrousel -->
    <!-- End Home -->

    <div class="clearfix"></div>
    <!-- Start Content -->
      <section class="page-section" id="comparison">
        <% if ( login ) { %>
          <% include /comparison.ejs%>
        <% } else { %>
            
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Ooops! O serviço está em testes. :D</h5>
                <p class="card-text">Você precisará entrar com sua conta para testar o serviço em modo alpha.</p>
                <a href="/user/login/ws/home#comparison" class="btn btn-primary">Entrar</a>
              </div>
            </div>
        <%}%>
      </section>
      <section class="bg-light page-section" id="team">
        <% include /team.ejs%>
      </section>

      <section class="page-section" id="sec-contact">
        <% include /contact.ejs%>
      </section>

    <!-- End Content -->

