<% layout('../../template/ws-layout') -%>
        

<div class="clearfix"></div>

<!-- Start Home -->
<div class="pageheader fixed-demo dark">
    <div class="container" >
        <div class="row">
          <h2 class="title">Quem Somos? (Não responda!)</h2>
        </div>
    </div>
</div>

<div class="clearfix">
    <div class="section gray padding-bot50">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-header-container">   
                        <div class="profile-header-img">
                            <img class="img-circle" src="https://scontent-gig2-1.xx.fbcdn.net/v/t1.0-9/35971399_974792192701026_2952490205807902720_n.jpg?_nc_cat=105&_nc_ht=scontent-gig2-1.xx&oh=771151a2e0bfc0a89ffe8cffec6df574&oe=5D3BDEF9" />
                            <!-- badge -->
                            <div class="rank-label-container">
                                <span class="label label-default rank-label">Me</span>
                            </div>
                        </div>
                    </div> 
                </div>
                
                <div class="col-md-4">
                    <div class="profile-header-container">   
                        <div class="profile-header-img">
                            <img class="img-circle" src="https://scontent-gig2-1.xx.fbcdn.net/v/t1.0-9/30441799_1914768135224259_6236007615726354432_n.jpg?_nc_cat=101&_nc_ht=scontent-gig2-1.xx&oh=e5ac79a7f209237f67faa631e2371182&oe=5D479336" />
                            <!-- badge -->
                            <div class="rank-label-container">
                                <span class="label label-default rank-label">Well da Eletrônica</span>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="col-md-4">
                    <div class="profile-header-container">   
                        <div class="profile-header-img">
                            <img class="img-circle" src="https://scontent-gig2-1.xx.fbcdn.net/v/t31.0-1/c282.0.960.960a/p960x960/10506738_10150004552801856_220367501106153455_o.jpg?_nc_cat=1&_nc_ht=scontent-gig2-1.xx&oh=5f5009a1f86caffffc124b48800e5645&oe=5D411C69" />
                            <!-- badge -->
                            <div class="rank-label-container">
                                <span class="label label-default rank-label">Adão</span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="profile-header-container">   
                        <div class="profile-header-img">
                            <img class="img-circle" src="https://scontent-gig2-1.xx.fbcdn.net/v/t1.0-9/28056367_1582406841807653_5943378981462330149_n.jpg?_nc_cat=103&_nc_ht=scontent-gig2-1.xx&oh=7d479b5e07fe7b0ddec4d1086507bebb&oe=5D2C27C4" />
                            <!-- badge -->
                            <div class="rank-label-container">
                                <span class="label label-default rank-label">Guigui</span>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="col-md-4">
                    <div class="profile-header-container">   
                        <div class="profile-header-img">
                            <img class="img-circle" src="https://scontent-gig2-1.xx.fbcdn.net/v/t1.0-9/1395147_328914753914924_454832804_n.jpg?_nc_cat=109&_nc_ht=scontent-gig2-1.xx&oh=1705101a70c02b73d9748c97df77dd16&oe=5D7776D3" />
                            <!-- badge -->
                            <div class="rank-label-container">
                                <span class="label label-default rank-label">Dad</span>
                            </div>
                        </div>
                    </div> 
                </div>


                <div class="col-md-4">
                    <div class="profile-header-container">   
                        <div class="profile-header-img">
                            <img class="img-circle" src="https://scontent-gig2-1.xx.fbcdn.net/v/t1.0-9/31183482_177134903100427_238126408663040000_n.jpg?_nc_cat=111&_nc_ht=scontent-gig2-1.xx&oh=0a8f25f3d3744458e791b861371cda7a&oe=5D42AC5A" />
                            <!-- badge -->
                            <div class="rank-label-container">
                                <span class="label label-default rank-label">Comuna</span>
                            </div>
                        </div>
                    </div> 
                </div>

            </div>

        </div>
    </div> 
</div>
 -->