<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partial/head.ejs %>
</head>

<body>

<!-- Insert Body here -->
<main role="main" class="wraper">

	<%- body %>

</main><!-- /.container -->


<% include ../partial/includes.ejs %>
</body>
</html>