<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partial/head.ejs %>
</head>

<body>

<% include ../partial/header-db.ejs %>


<!-- Insert Body here -->
<main role="main">

        <%- body %>

</main><!-- /.container -->

<% include ../partial/footer.ejs %>

<% include ../partial/includes.ejs %>
</body>
</html>