<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partial/head.ejs %>
</head>

<body>

<% include ../partial/header.ejs %>


<!-- Insert Body here -->
<main role="main" class="wraper">

    <!-- <div class="starter-template"> -->
        <%- body %>
    <!-- </div> -->

</main><!-- /.container -->

<% include ../partial/footer.ejs %>

<% include ../partial/includes.ejs %>
</body>
</html>